@import url("https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: black;
  color: white;
}

header {
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  background-color: transparent;
  filter: drop-shadow(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  /* This stuff handles the Alto thing at the top right*/
  font-size: 3rem;
  font-weight: 800;
  color: white;
  cursor: pointer;
  transition: 0.5s ease;
}

.logo:hover {
  transform: scale(1.1);
}

nav a {
  /* This stuff handles the option things at the top left*/
  font-size: 1.8rem;
  color: white;
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
  color: rgb(233, 195, 164);
  border-bottom: 3px solid rgb(233, 195, 164);
}

@media (max-width: 955px) {
  nav {
    position: absolute;
    display: none;
    top: 0%;
    right: 0;
    width: 40%;
    border-left: 3px solid rgb(233, 195, 164);
    border-bottom: 3px solid rgb(233, 195, 164);
    border-bottom-left-radius: 2rem;
    padding: 1rem solid;
    background-color: #161616;
    border-top: rgba(0, 0, 0, 0.1);
  }

  nav.active {
    display: block;
  }

  nav a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  nav a:hover,
  nav a.active {
    padding: 1rem;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid rgb(233, 195, 164);
  }
}

section {
  min-height: 100vh;
  padding: 5rem 9% 5rem;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  background-color: black;
}

.home .home-content h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.3;
}

span {
  color: rgb(233, 195, 164);
}

.home .home-content h3 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.home-content p {
  font-size: 1.4rem;
  color: rgb(200, 200, 200);
  margin-bottom: 2rem;
}

.home-img {
  border-radius: 50%;
}

.home-img img {
  width: 22vw;
  height: 33vw; /* make it a square */
  border-radius: 50%;
  object-fit: cover; /* THIS is the magic */
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.home-img img:hover {
  font-size: 1.8rem;
  font-weight: 500;
  transform: scale(1.1);
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  color: white;
  border: 0.2rem solid rgb(255, 255, 255);
  font-size: 2rem;
  border-radius: 50%;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease;
}

.social-icons a:hover {
  color: black;
  transform: scale(1.3) translateY(-5px);
  background-color: rgb(233, 195, 164);
  box-shadow: 0 0 25px rgb(233, 195, 164);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background-color: black;
  border-radius: 4rem;
  font-size: 1.6rem;
  color: white;
  letter-spacing: 0.25px;
  font-weight: 600;
  border: 1.25px solid rgb(255, 255, 255);
  transition: 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.1) translateY(-5px);
  background-color: rgb(233, 195, 164);
  color: black;
  box-shadow: 0 0 25px rgb(233, 195, 164);
}

.typing-text {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}

.typing-text span {
  position: relative;
}

.typing-text span::before {
  content: "Software Developer";
  color: rgb(233, 195, 164);
  animation: words 10s infinite;
}

.typing-text span::after {
  content: "";
  background-color: black;
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid black;
  right: -8;
  animation: cursor 0.6s infinite;
}

@keyframes cursor {
  to {
    border-left: 1.5px solid rgb(233, 195, 164);
  }
}

@keyframes words {
  0%,
  25% {
    content: "Web Developer";
  }
  25.01%,
  50% {
    content: "Programmer";
  }
  50.01%,
  75% {
    content: "Engineer";
  }
  75.01%,
  100% {
    content: "Software Developer";
    font-size: 16px;
  }
}

@media (max-width: 1000px) {
  .home {
    gap: 4rem;
  }
}

@media (max-width: 995px) {
  .home {
    flex-direction: column;
    margin: 5rem 4rem;
  }

  .home .home-content h3 {
    font-size: 2.5rem;
  }

  .home .home-content h1 {
    font-size: 5rem;
  }

  .home-img img {
    width: 50vw;
    height: 55vw;
    margin-top: 4rem;
  }
}


